.item-post__title {
  font-size: 18px;
  word-break: break-word;

  a {
    display: inline-block;
  }
}
/* Slider */
@import "slides";

/* Product Filter */
@import "product-filter";

/* Posts Grid */
@import "post-grid";

/* Posts Carousel */
@import "post-carousel";

/* Testimonial */
@import "testimonial";